@use 'sass:map';

/*
************************************************************************************************************************
ASSET CLASS COLOURS
************************************************************************************************************************
*/

/// Returns a colour for assets classes, as used throughout all of Preqin's materials and applications
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#assets See it in action: https://preqindesign.gitlab.io/preqin-design-library/#assets
/// @param {string} $code
///     8 possible classes: 'pe' (default), 're', 'hf', 'inf', 'pd', 'nr', 'vc', 'sec'
/// @return {hex} hex colour value based on '$class' 
///
/// @example scss 
///     background:design.getAssetClassColour('pe');
/// @example scss 
///     background:design.getAssetClassColour(); // uses defaults of $class:'pe'

@function getAssetClassColour($class:'pe') {

    $theColour : #3967E5;

    @if ($class == 'pe') {
        $theColour : #3967E5;
    }

    @if ($class == 're') {
        $theColour : #C72F4C;
    }

    @if ($class == 'hf') {
        $theColour : #2C882C;
    }

    @if ($class == 'inf') {
        $theColour : #D94800;
    }

    @if ($class == 'pd') {
        $theColour : #8B5CDB;
    }

    @if ($class == 'nr') {
        $theColour : #C82C96;
    }

    @if ($class == 'vc') {
        $theColour : #02a783;
    }

    @if ($class == 'sec') {
        $theColour : #334D59;
    }

    @return $theColour;

}

/// Returns a colour for assets class backgrounds, as used throughout all of Preqin's materials and applications
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#assets See it in action: https://preqindesign.gitlab.io/preqin-design-library/#assets
/// @param {string} $code
///     8 possible classes: 'pe' (default), 're', 'hf', 'inf', 'pd', 'nr', 'vc', 'sec'
/// @return {hex} hex colour value based on '$class' 
///
/// @example scss 
///     background:design.getAssetClassColourBG('pe');
/// @example scss 
///     background:design.getAssetClassColourBG(); // uses defaults of $class:'pe'

@function getAssetClassColourBG($class:'pe') {

    $theColour : #E5EAF9;

    @if ($class == 'pe') {
        $theColour : #E5EAF9;
    }

    @if ($class == 're') {
        $theColour : #F2E7EB;
    }

    @if ($class == 'hf') {
        $theColour : #E1EDE4;
    }

    @if ($class == 'inf') {
        $theColour : #F7EBE7;
    }

    @if ($class == 'pd') {
        $theColour : #EFE9F7;
    }

    @if ($class == 'nr') {
        $theColour : #F4E5EF;
    }

    @if ($class == 'vc') {
        $theColour : #CCEDE6;
    }

    @if ($class == 'sec') {
        $theColour : #F5F6F7;
    }

    @return $theColour;

}

/// Returns background and text colours for assets, as used throughout all of Preqin's materials and applications
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#assets See it in action: https://preqindesign.gitlab.io/preqin-design-library/#assets
/// @param {string} $code
///     8 possible classes: 'pe' (default), 're', 'hf', 'inf', 'pd', 'nr', 'vc', 'sec'
///
/// @example scss 
///     @include design.getAssetClassColours('pe');
/// @example scss 
///     @include design.getAssetClassColours(); // uses defaults of $class:'pe'

@mixin getAssetClassColours($class:'pe') {

    $bg:#E5EAF9;
    $colour:#3967E5;

    @if ($class == 'pe') {
        $bg:#E5EAF9;
        $colour:#3967E5;
    }

    @if ($class == 're') {
        $bg:#F2E7EB;
        $colour:#C72F4C;
    }

    @if ($class == 'hf') {
        $bg:#E1EDE4;
        $colour:#2C882C;
    }

    @if ($class == 'inf') {
        $bg:#F7EBE7;
        $colour:#D94800;
    }

    @if ($class == 'pd') {
        $bg:#EFE9F7;
        $colour:#8B5CDB;
    }

    @if ($class == 'nr') {
        $bg:#F4E5EF;
        $colour:#C82C96;
    }

    @if ($class == 'vc') {
        $bg:#CCEDE6;
        $colour:#02a783;
    }

    @if ($class == 'sec') {
        $bg:#F5F6F7;
        $colour:#334D59;
    }

    background-color:$bg;
    color:$colour;
}

/*
************************************************************************************************************************
COLOURS
************************************************************************************************************************
*/


$preqin-primary-colour:#00A5F0;
$preqin-neutral-colour:#334D59;
$preqin-success-colour:#1CDB0B;
$preqin-warning-colour:#FFB017;
$preqin-alert-colour:#F53939;

$primary-colours: (
    100:#E5F6FD,
    200:#CCEDFC,
    300:#99DBF9,
    400:#66C9F6,
    500:#33B7F3,
    600:$preqin-primary-colour,
    700:#0084C0,
    800:#006390,
    900:#004260,
    1000:#002130
);

$neutral-colours: (
    100:#F5F6F7,
    200:#EBEDEE,
    300:#D6DBDE,
    400:#B8C1C5,
    500:#99A6AC,
    600:#7A8B93,
    700:$preqin-neutral-colour,
    800:#24363E,
    900:#19262C,
    1000:#0F171B
);

$success-colours: (
    100:#E8FBE7,
    200:#D2F8CE,
    300:#A4F19D,
    400:#77E96D,
    500:#49E23C,
    600:$preqin-success-colour,
    700:#16AF09,
    800:#118307,
    900:#0B5804,
    1000:#062C02
);

$warning-colours: (
    100:#FEF8EB,
    200:#FFEFD1,
    300:#FFDFA2,
    400:#FFD074,
    500:#FFC045,
    600:$preqin-warning-colour,
    700:#CC8D12,
    800:#996A0E,
    900:#664609,
    1000:#332305
);

$alert-colours: (
    100:#FEEBEB,
    200:#FDD7D7,
    300:#FBB0B0,
    400:#F98888,
    500:#F76161,
    600:$preqin-alert-colour,
    700:#C42E2E,
    800:#932222,
    900:#621717,
    1000:#310B0B
);

/// Returns a shade of colour (from 10 shades) for one of 5 possible colours.
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#colours See it in action: https://preqindesign.gitlab.io/preqin-design-library/#colours
/// @param {string} $colour
///     5 possible colours: 'primary' (default), 'neutral', 'success', 'warning', 'alert'
/// @param {number} $shade
///     10 possible shades: 100, 200, 300, 400, 500, 600 (default), 700 (default for primary), 800, 900, 1000 
/// @return {hex} hex colour value based on '$colour' and '$shade' calculated by Sass's scale-color
///
/// @example scss 
///     background:design.getColour('neutral',$shade:500);
/// @example scss 
///     background:design.getColour(); // uses defaults of $colour:'primary', $shade:700

@function getColour($colour:'primary',$shade:null) {
    
    $theColours:$primary-colours;

    @if $colour == 'primary' {
        @if ($shade == null) { $shade:700; }
        $theColours:$primary-colours;
    }

    @if $colour == 'neutral' {
        @if ($shade == null) { $shade:600; }
        $theColours:$neutral-colours;
    }

    @if $colour == 'success' {
        @if ($shade == null) { $shade:600; }
        $theColours:$success-colours;
    }

    @if $colour == 'warning' {
        @if ($shade == null) { $shade:600; }
        $theColours:$warning-colours;
    }
    
    @if $colour == 'alert' {
        @if ($shade == null) { $shade:600; }
        $theColours:$alert-colours;
    }

    @return map.get($theColours,$shade);

    /*$theColour:$preqin-primary-colour;
    $calcColour:$preqin-primary-colour;

    @if $colour == 'primary' {
        $calcColour:$preqin-primary-colour;
        @if ($shade == null) {
            $shade:map.get($primary-colours,700);
        }
    }

    @if $colour == 'neutral' {
        $calcColour:$preqin-neutral-colour;
        @if ($shade == null) {
            $shade:600;
        }
    }

    @if $colour == 'success' {
        $calcColour:$preqin-success-colour;
        @if ($shade == null) {
            $shade:600;
        }
    }

    @if $colour == 'warning' {
        $calcColour:$preqin-warning-colour;
        @if ($shade == null) {
            $shade:600;
        }
    }

    @if $colour == 'alert' {
        $calcColour:$preqin-alert-colour;
        @if ($shade == null) {
            $shade:600;
        }
    }

    // These colours follow the same rules when working out shades of each one
    @if $colour == 'primary' or $colour == 'success' or $colour == 'warning' or $colour == 'alert' {

        @if $shade == 100 {
            $theColour:scale-color($calcColour,$lightness:90%);
        }

        @if $shade == 200 {
            $theColour:scale-color($calcColour,$lightness:80%);
        }

        @if $shade == 300 {
            $theColour:scale-color($calcColour,$lightness:60%);
        }

        @if $shade == 400 {
            $theColour:scale-color($calcColour,$lightness:40%);
        }

        @if $shade == 500 {
            $theColour:scale-color($calcColour,$lightness:20%);
        }

        @if $shade == 600 {
            $theColour:$calcColour;
        }

        @if $shade == 700 {
            $theColour:scale-color($calcColour,$lightness:-20%);
        }

        @if $shade == 800 {
            $theColour:scale-color($calcColour,$lightness:-40%);
        }

        @if $shade == 900 {
            $theColour:scale-color($calcColour,$lightness:-60%);
        }

        @if $shade == 1000 {
            $theColour:scale-color($calcColour,$lightness:-80%);
        }

    }

    // neutrals follow slightly different percentages to the colours above
    @if $colour == 'neutral' {

        @if $shade == 100 {
            $theColour:scale-color($calcColour,$lightness:95.0000000000000000%);
            //$theColour:scale-color(#c00a0a,$lightness: 73%);
        }

        @if $shade == 200 {
            $theColour:scale-color($calcColour,$lightness:90%);
        }

        @if $shade == 300 {
            $theColour:scale-color($calcColour,$lightness:80%);
        }

        @if $shade == 400 {
            $theColour:scale-color($calcColour,$lightness:65%);
        }

        @if $shade == 500 {
            $theColour:scale-color($calcColour,$lightness:50%);
        }

        @if $shade == 600 {
            $theColour:$calcColour;
        }

        @if $shade == 700 {
            $theColour:$calcColour;
        }

        @if $shade == 800 {
            $theColour:scale-color($calcColour,$lightness:-30%);
        }

        @if $shade == 900 {
            $theColour:scale-color($calcColour,$lightness:-50%);
        }

        @if $shade == 1000 {
            $theColour:scale-color($calcColour,$lightness:-70%);
        }

    }

    @return $theColour;*/

}




/*
************************************************************************************************************************
TYPOGRAPHY
************************************************************************************************************************
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/// Returns CSS defining: font-weight, font-size, line-height
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/sassdoc/#undefined-mixin-getType See it in action: https://preqindesign.gitlab.io/preqin-design-library/#typography
///
/// @param {number} $weight
///     5 possible weights: 'light', 'normal', 'semi', 'bold', 'extra'
/// @param {string} $size
///     7 possible sizes: 'xxs', 'xs', 's' (default), 'm', 'l', 'xl, 'xxl'
///
/// @example scss 
///     @include design.getType($weight:'light',$size:'xl');
/// @example scss 
///     @include design.getType(); // uses defaults of $weight:'normal, $size:'s'

@mixin getType($weight:'normal',$size:'s') {

    $theWeight:400;
    $theSize:16px;
    $theLineHeight:24px;

    // size

    @if $size == 'xxs' {
        $theSize:10px; // 0.625rem
        $theLineHeight:16px; // 1rem
    }

    @if $size == 'xs' {
        $theSize:12px; // 0.75rem
        $theLineHeight:16px; // 1rem
    }

    @if $size == 's' {
        $theSize:16px; // 1rem
        $theLineHeight:24px; // 1.5rem
    }

    @if $size == 'm' {
        $theSize:24px; // 1.5rem
        $theLineHeight:32px; // 2rem
    }

    @if $size == 'l' {
        $theSize:36px; // 2.25rem
        $theLineHeight:48px; // 3rem
    }

    @if $size == 'xl' {
        $theSize:54px; // 3.375rem
        $theLineHeight:72px; // 4.5rem
    }

    @if $size == 'xxl' {
        $theSize:81px; // 5.0625rem
        $theLineHeight:104px; // 6.5rem
    }

    // weight

    @if $weight == 'light' {
        $theWeight:300;
    }
    @if $weight == 'normal' {
        $theWeight:400;
    }
    @if $weight == 'semi' {
        $theWeight:600;
    }
    @if $weight == 'bold' {
        $theWeight:700;
    }
    @if $weight == 'extra' {
        $theWeight:800;
    }

    font-weight:$theWeight;
    font-size:$theSize;
    line-height:$theLineHeight;

}




/*
************************************************************************************************************************
RADIUS
************************************************************************************************************************
*/

$preqin-radius:0.25rem;

/// Returns CSS defining: border-radius
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#radius See it in action https://preqindesign.gitlab.io/preqin-design-library/#radius
///
/// @param {string} $position
///     9 possible positions set by $preqin-radius: 'all' (default), 'top', 'right', 'bottom', 'left', 'topLeft', 'topRight', 'bottomRight', 'bottomLeft'
///
/// @example scss 
///     @include design.getRadius($position:'top');
/// @example scss 
///     @include design.getRadius($position:'bottomLeft');
/// @example scss 
///     @include design.getRadius(); // uses default of 'all'

@mixin getRadius($position:'all') {
    @if $position == 'all' {
        border-radius:$preqin-radius;
    }
    @if $position == 'top' {
        border-radius:$preqin-radius $preqin-radius 0 0;
    }
    @if $position == 'right' {
        border-radius:0 $preqin-radius $preqin-radius 0;
    }
    @if $position == 'bottom' {
        border-radius:0 0 $preqin-radius $preqin-radius;
    }
    @if $position == 'left' {
        border-radius:$preqin-radius 0 0 $preqin-radius;
    }
    @if $position == 'topLeft' {
        border-radius:$preqin-radius 0 0 0;
    }
    @if $position == 'topRight' {
        border-radius:0 $preqin-radius 0 0;
    }
    @if $position == 'bottomRight' {
        border-radius:0 0 $preqin-radius 0;
    }
    @if $position == 'bottomLeft' {
        border-radius:0 0 0 $preqin-radius;
    }
}




/*
************************************************************************************************************************
ELEVATION
************************************************************************************************************************
*/

$preqin-elevation-colour:getColour('neutral',$shade:1000);

/// Returns CSS defining: box-shadow
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#elevation See it in action: https://preqindesign.gitlab.io/preqin-design-library/#elevation
///
/// @param {number} $amount
///     5 possible amounts: 100 (default), 200, 300, 400, 500
///  
/// @example scss 
///     @include design.getElevation(300);
/// @example scss 
///     @include design.getElevation(); // uses default of 100
///

@mixin getElevation($amount:100) {
    @if $amount == 100 {
        box-shadow:0px 1px 8px transparentize($preqin-elevation-colour,0.8);
    }
    @if $amount == 200 {
        box-shadow:0px 2px 16px transparentize($preqin-elevation-colour,0.8);
    }
    @if $amount == 300 {
        box-shadow:0px 4px 24px transparentize($preqin-elevation-colour,0.8);   
    }
    @if $amount == 400 {
        box-shadow:0px 8px 32px transparentize($preqin-elevation-colour,0.8); 
    }
    @if $amount == 500 {
        box-shadow:0px 16px 40px transparentize($preqin-elevation-colour,0.8);
    }    
}




/*
************************************************************************************************************************
SPACING
************************************************************************************************************************
*/

$preqin-spacing:8px;

/// Returns px unit
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#spacing See it in action https://preqindesign.gitlab.io/preqin-design-library/#spacing
///
/// @param {string} $size
///     7 possible sizes set by $preqin-spacing: 'xs', 's' (default), 'm', 'l', 'xl', 'xxl','xxxl'
/// @return {unit} px unit 4px || 8px (default) || 16px || 24px || 32px || 40px || 48px
///
/// @example scss 
///     padding:design.getSpacing($size:'xs');
/// @example scss 
///     padding:design.getSpacing(); // uses default of 's'

@function getSpacing($size:'s') { 

    $theSpacing:$preqin-spacing;

    @if $size == 'xs' {
        $theSpacing:calc($preqin-spacing / 2);
    }
    @if $size == 's' {
        $theSpacing:$preqin-spacing;
    }
    @if $size == 'm' {
        $theSpacing:calc($preqin-spacing / 2);
    }
    @if $size == 'l' {
        $theSpacing:$preqin-spacing*3;
    }
    @if $size == 'xl' {
        $theSpacing:$preqin-spacing*4;
    }
    @if $size == 'xxl' {
        $theSpacing:$preqin-spacing*5;
    }
    @if $size == 'xxxl' {
        $theSpacing:$preqin-spacing*6;
    }

    @return $theSpacing;

}




/*
************************************************************************************************************************
SEPERATORS
************************************************************************************************************************
*/

// lite, medium, strong
// 100,200,300,400
// topLeft, topRight, bottomRight, bottomLeft, top, right, bottom, left, vertical, horizontal

/// Returns CSS defining: border styles
/// @group helpers
/// @link https://preqindesign.gitlab.io/preqin-design-library/#seperators See it in action https://preqindesign.gitlab.io/preqin-design-library/#seperators
///
/// @param {string} $strength
///     3 possible weights: light, medium (default), strong
/// @param {number} $weight
///     4 possible weights: 100 (default), 200, 300, 400. If the border forms a corner (i.e. topRight), the weight parameter, if passed, only applies to the border on the X axis (i.e. top, if topRight). Y axis border will default to weight of 100 (i.e. 1px)
/// @param {string} $position
///     10 possible positions: topLeft, topRight, bottomRight, bottomLeft, top, right, bottom (default), left, vertical (left and right), horizontal (top and bottom)
///
/// @example scss 
///     @include design.getSeperator($strength:'light',$weight:200,$position:'right');
/// @example scss 
///     @include design.getSeperator(); // uses defaults of $strength:'medium', $weight:100, $position:'bottom'

@mixin getSeperator($strength:'medium',$weight:100,$position:'bottom') {

    $theColour:getColour($colour:'neutral',$shade:400);
    $xWeight:1px;

    @if ($strength == 'light') {
        $theColour:getColour($colour:'neutral',$shade:200);
    }
    @if ($strength == 'medium') {
        $theColour:getColour($colour:'neutral',$shade:400);
    }
    @if ($strength == 'strong') {
        $theColour:getColour($colour:'neutral',$shade:800);
    }

    @if ($weight == 100) {
        $xWeight:1px;
    }
    @if ($weight == 200) {
        $xWeight:2px;
    }
    @if ($weight == 300) {
        $xWeight:4px;
    }
    @if ($weight == 400) {
        $xWeight:8px;
    }

    @if ($position == 'topLeft') {
        border-left:1px solid $theColour;
        border-top:$xWeight solid $theColour;
    }
    @if ($position == 'topRight') {
        border-right:1px solid $theColour;
        border-top:$xWeight solid $theColour;
    }
    @if ($position == 'bottomRight') {
        border-right:1px solid $theColour;
        border-bottom:$xWeight solid $theColour;
    }
    @if ($position == 'bottomLeft') {
        border-left:1px solid $theColour;
        border-bottom:$xWeight solid $theColour;
    }
    @if ($position == 'top') {
        border-top:$xWeight solid $theColour;
    }
    @if ($position == 'right') {
        border-right:$xWeight solid $theColour;
    }
    @if ($position == 'bottom') {
        border-bottom:$xWeight solid $theColour;
    }
    @if ($position == 'left') {
        border-left:$xWeight solid $theColour;
    }
    @if ($position == 'vertical') {
        border-left:$xWeight solid $theColour;
        border-right:$xWeight solid $theColour;
    }
    @if ($position == 'horizontal') {
        border-top:$xWeight solid $theColour;
        border-bottom:$xWeight solid $theColour;
    }

}

@function getAnimateSpeed() {
    @return 0.20s;
}