@use './lib/design';

html,body {
    @include design.getType();
    color:design.getColour($colour:'neutral',$shade:900);
    font-family: 'Open Sans', sans-serif; 
}

h1 {
    @include design.getType($size:'m');
    margin-bottom:design.getSpacing($size:'l');
}

h2, h3 {
    margin-bottom:design.getSpacing($size:'m');;
}

h2 {
    @include design.getType($weight:'semi',$size:'s');
}

h3 {
    @include design.getType($weight:'semi',$size:'s');
    color:design.getColour($colour:'neutral',$shade:600);
}

p {
    margin-bottom:design.getSpacing($size:'m');;
}