@use './lib/design';

/* ROOT STUFF JUST TO SET UP THE BASICS FOR THE PAGE TEMPLATE DEMOS ONLY  */
    
* {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}
body { 
    min-height:100%;
    display:flex;
    flex-wrap: nowrap;
    margin:0;
}
nav {
    min-height:100%;
    background:#004260;
    width:240px;
    min-width:240px;
    padding:24px;
}
main {
    flex-grow: 1;
}
h1 {
    font-weight:bold;
    
}
h1 {
    font-size:2rem;
    margin-bottom:1rem;
}
h2 {
    font-size:1.5rem;
    margin-bottom:1.5rem;
}
table {
    width:100%;
}
table, th, td {
    border:1px solid #ccc;
}
th, td {
    padding:8px;
    overflow-wrap: break-word;
}
p {
    margin-bottom:1rem;
}
strong {
    font-weight:bold;
}

/* GLOBAL CONTAINERS */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:32px;
    min-width:1120px;
    margin:24px 32px;
}
.span-50 {
    grid-column: 1 / span 6;
}
.span-50:nth-child(2) {
    grid-column: 7 / span 6;
}
.span-100 {
    grid-column: 1 / span 12;
}
.span-max-width {
    grid-column: 1 / span 12;
    max-width: 1120px;
}

/* DRAWER */

.mask--hidden,
.mask--visible {
    background-color:design.getColour('primary',$shade:1000);
    opacity:0.7;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.mask--hidden {
    display:none;
}
.mask--visible {
    display:block;
}

.drawer--closed,
.drawer--open {
    position:fixed;
    top:0;
    bottom:0;
    max-width:1328px;
    padding:16px;
    background-color: white;
    transition: all 0.5s;
}
.drawer--closed {
    right:-1328px;
}
.drawer--open {
    right:0px;
}

/* PROFILE PAGE */

header {
    height:152px;
    background-color: #ddd;
    padding:24px 32px;
}

section {
    border-bottom:1px solid #ccc;
}

section p:last-of-type {
    margin-bottom: 0;
}

/* MEDIA QUERIES FOR LAPTOPS */

@media only screen and (max-width: 1366px) {
    nav {
        width:184px;
        min-width:184px;
        padding:16px;
    }
    header {
        height:128px;
    }
    .container {
        min-width:936px;
        gap:24px;
        margin:16px 24px;
    }
    .span-max-width {
        max-width: 936px;
    }
    .drawer--closed,
    .drawer--open {
        max-width:1088px;
    }
    .drawer--closed {
        right:-1088px;
    }
}
