@use './lib/design';
@use './typography';

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px !important;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color:design.getColour($colour:'neutral',$shade:900);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


* {
    box-sizing: border-box;
}

.lib-heading {
    @include design.getType($weight:'semi',$size:'xxl');
}

.note {
    @include design.getRadius();
    margin-bottom:design.getSpacing($size:'xl');
    p {
        padding:1rem;
        background:design.getColour($colour:'warning',$shade:200);
        margin:0;
        display:inline-block;
    }
}

.hidden {
    display:none !important;
}

p {
        margin-bottom:design.getSpacing($size:'m');
    }

strong {
    @include design.getType($weight:'semi');
}

#lib {

    padding:1.5rem;

    h1 {
        @extend .lib-heading;
        margin-bottom:design.getSpacing($size:'xxxl');
    }

    h2 {
        @include design.getType($weight:'semi',$size:'l');
        margin-bottom:design.getSpacing($size:'xl');
    }

    h3,h4 {
        @include design.getRadius();
        margin:0 0 0.75rem 0;
        background:design.getColour('neutral',$shade:100);
        display:table;
    }

    h3 {
        @include design.getType($weight:'semi',$size:'m');
        padding:0.5rem;
    }

    h4 {
        @include design.getType($weight:'semi',$size:'s');
        padding:0.5rem;
    }

    section {
        @include design.getRadius();
        border:1px solid design.getColour('neutral',$shade:400);
        padding:2rem;
        margin-bottom:3rem;
    }

    strong {
        font-weight:bold;
    }

    .type--xxl-300 {
        @include design.getType($weight:'light',$size:'xxl');
    }

    .type--xxl-400 {
        @include design.getType($weight:'normal',$size:'xxl');
    }

    .type--xxl-600 {
        @include design.getType($weight:'semi',$size:'xxl');
    }

    .type--xxl-700 {
        @include design.getType($weight:'bold',$size:'xxl');
    }

    .type--xxl-800 {
        @include design.getType($weight:'extra',$size:'xxl');
    }

    .type--xl-300 {
        @include design.getType($weight:'light',$size:'xl');
    }

    .type--xl-400 {
        @include design.getType($weight:'normal',$size:'xl');
    }

    .type--xl-600 {
        @include design.getType($weight:'semi',$size:'xl');
    }

    .type--xl-700 {
        @include design.getType($weight:'bold',$size:'xl');
    }

    .type--xl-800 {
        @include design.getType($weight:'extra',$size:'xl');
    }

    .type--l-300 {
        @include design.getType($weight:'light',$size:'l');
    }

    .type--l-400 {
        @include design.getType($weight:'normal',$size:'l');
    }

    .type--l-600 {
        @include design.getType($weight:'semi',$size:'l');
    }

    .type--l-700 {
        @include design.getType($weight:'bold',$size:'l');
    }

    .type--l-800 {
        @include design.getType($weight:'extra',$size:'l');
    }

    .type--m-300 {
        @include design.getType($weight:'light',$size:'m');
    }

    .type--m-400 {
        @include design.getType($weight:'normal',$size:'m');
    }

    .type--m-600 {
        @include design.getType($weight:'semi',$size:'m');
    }

    .type--m-700 {
        @include design.getType($weight:'bold',$size:'m');
    }

    .type--m-800 {
        @include design.getType($weight:'extra',$size:'m');
    }

    .type--s-300 {
        @include design.getType($weight:'light',$size:'s');
    }

    .type--s-400 {
        @include design.getType($weight:'normal',$size:'s');
    }

    .type--s-600 {
        @include design.getType($weight:'semi',$size:'s');
    }

    .type--s-700 {
        @include design.getType($weight:'bold',$size:'s');
    }

    .type--s-800 {
        @include design.getType($weight:'extra',$size:'s');
    }

    .type--xs-300 {
        @include design.getType($weight:'light',$size:'xs');
    }

    .type--xs-400 {
        @include design.getType($weight:'normal',$size:'xs');
    }

    .type--xs-600 {
        @include design.getType($weight:'semi',$size:'xs');
    }

    .type--xs-700 {
        @include design.getType($weight:'bold',$size:'xs');
    }

    .type--xs-800 {
        @include design.getType($weight:'extra',$size:'xs');
    }

    .type--xxs-300 {
        @include design.getType($weight:'light',$size:'xxs');
    }

    .type--xxs-400 {
        @include design.getType($weight:'normal',$size:'xxs');
    }

    .type--xxs-600 {
        @include design.getType($weight:'semi',$size:'xxs');
    }

    .type--xxs-700 {
        @include design.getType($weight:'bold',$size:'xxs');
    }

    .type--xxs-800 {
        @include design.getType($weight:'extra',$size:'xxs');
    }

    .ul-elements {

        display:flex;
        margin:1rem 0 3rem 0;

        &:last-of-type {
            margin-bottom:0;
        }

        li {

            @include design.getRadius();
            @include design.getType($weight:'semi',$size:'s');
            width:100px;
            height:100px;
            margin-right:10px;
            text-align: center;
            vertical-align: middle;
            padding-top:40px;

        }

    }

    ul.notes {
        list-style-type: disc;
        margin:0 0 2rem 2rem;
    }

    ul[class^='colours'],
    ul.asset-classes,
    ul.elevation,
    ul.radius,
    ul.spacing,
    ul[class^='seperator'] {
        @extend .ul-elements;
    }

    ul[class^='colours'] {
        li:nth-child(n+7) {
            color:#fff;
        }
    }

    ul.colours--primary {

        li:nth-child(1) {
            background:design.getColour('primary',$shade:100);
        }

        li:nth-child(2) {
            background:design.getColour('primary',$shade:200);
        }

        li:nth-child(3) {
            background:design.getColour('primary',$shade:300);
        }

        li:nth-child(4) {
            background:design.getColour('primary',$shade:400);
        }

        li:nth-child(5) {
            background:design.getColour('primary',$shade:500);
        }

        li:nth-child(6) {
            background:design.getColour('primary',$shade:600);
        }

        li:nth-child(7) {
            background:design.getColour();
        }

        li:nth-child(8) {
            background:design.getColour('primary',$shade:800);
        }

        li:nth-child(9) {
            background:design.getColour('primary',$shade:900);
        }

        li:nth-child(10) {
            background:design.getColour('primary',$shade:1000);
        }

    }

    ul.colours--neutral {
    
        li:nth-child(1) {
            background:design.getColour('neutral',$shade:100);
        }

        li:nth-child(2) {
            background:design.getColour('neutral',$shade:200);
        }

        li:nth-child(3) {
            background:design.getColour('neutral',$shade:300);
        }

        li:nth-child(4) {
            background:design.getColour('neutral',$shade:400);
        }

        li:nth-child(5) {
            background:design.getColour('neutral',$shade:500);
        }

        li:nth-child(6) {
            background:design.getColour('neutral');
            color:#fff;
        }

        li:nth-child(7) {
            background:design.getColour('neutral',$shade:700);
        }

        li:nth-child(8) {
            background:design.getColour('neutral',$shade:800);
        }

        li:nth-child(9) {
            background:design.getColour('neutral',$shade:900);
        }

        li:nth-child(10) {
            background:design.getColour('neutral',$shade:1000);
        }

    }

    ul.colours--success {
    
        li:nth-child(1) {
            background:design.getColour('success',$shade:100);
        }

        li:nth-child(2) {
            background:design.getColour('success',$shade:200);
        }

        li:nth-child(3) {
            background:design.getColour('success',$shade:300);
        }

        li:nth-child(4) {
            background:design.getColour('success',$shade:400);
        }

        li:nth-child(5) {
            background:design.getColour('success',$shade:500);
        }

        li:nth-child(6) {
            background:design.getColour('success');
        }

        li:nth-child(7) {
            background:design.getColour('success',$shade:700);
        }

        li:nth-child(8) {
            background:design.getColour('success',$shade:800);
        }

        li:nth-child(9) {
            background:design.getColour('success',$shade:900);
        }

        li:nth-child(10) {
            background:design.getColour('success',$shade:1000);
        }

    }

    ul.colours--warning {
    
        li:nth-child(1) {
            background:design.getColour('warning',$shade:100);
        }

        li:nth-child(2) {
            background:design.getColour('warning',$shade:200);
        }

        li:nth-child(3) {
            background:design.getColour('warning',$shade:300);
        }

        li:nth-child(4) {
            background:design.getColour('warning',$shade:400);
        }

        li:nth-child(5) {
            background:design.getColour('warning',$shade:500);
        }

        li:nth-child(6) {
            background:design.getColour('warning');
        }

        li:nth-child(7) {
            background:design.getColour('warning',$shade:700);
        }

        li:nth-child(8) {
            background:design.getColour('warning',$shade:800);
        }

        li:nth-child(9) {
            background:design.getColour('warning',$shade:900);
        }

        li:nth-child(10) {
            background:design.getColour('warning',$shade:1000);
        }

    }

    ul.colours--alert {
    
        li:nth-child(1) {
            background:design.getColour('alert',$shade:100);
        }

        li:nth-child(2) {
            background:design.getColour('alert',$shade:200);
        }

        li:nth-child(3) {
            background:design.getColour('alert',$shade:300);
        }

        li:nth-child(4) {
            background:design.getColour('alert',$shade:400);
        }

        li:nth-child(5) {
            background:design.getColour('alert',$shade:500);
        }

        li:nth-child(6) {
            background:design.getColour('alert');
        }

        li:nth-child(7) {
            background:design.getColour('alert',$shade:700);
        }

        li:nth-child(8) {
            background:design.getColour('alert',$shade:800);
        }

        li:nth-child(9) {
            background:design.getColour('alert',$shade:900);
        }

        li:nth-child(10) {
            background:design.getColour('alert',$shade:1000);
        }

    }

    ul.asset-classes {

        li {
            @include design.getType($weight:'bold',$size:'s');
            border-radius:100px;
        }

        .pe {
            //background:design.getAssetClassColourBG('pe');
            //color:design.getAssetClassColour('pe');
            @include design.getAssetClassColours('pe');
        }

        .re {
            /*background:design.getAssetClassColourBG('re');
            color:design.getAssetClassColour('re');*/
            @include design.getAssetClassColours('re');
        }

        .hf {
            /*background:design.getAssetClassColourBG('hf');
            color:design.getAssetClassColour('hf');*/
            @include design.getAssetClassColours('hf');
        }

        .inf {
            /*background:design.getAssetClassColourBG('inf');
            color:design.getAssetClassColour('inf');*/
            @include design.getAssetClassColours('inf'); 
        }

        .pd {
            /*background:design.getAssetClassColourBG('pd');
            color:design.getAssetClassColour('pd'); */
            @include design.getAssetClassColours('pd');
        }

        .nr {
            /*background:design.getAssetClassColourBG('nr'); 
            color:design.getAssetClassColour('nr');*/ 
            @include design.getAssetClassColours('nr'); 
        }

        .vc {
            /*background:design.getAssetClassColourBG('vc');
            color:design.getAssetClassColour('vc'); */
            @include design.getAssetClassColours('vc'); 
        }

        .sec {
            /*background:design.getAssetClassColourBG('sec');
            color:design.getAssetClassColour('sec');*/
            @include design.getAssetClassColours('sec'); 
        }

    }

    ul.elevation {

        li {
            @include design.getRadius();
            margin-right:100px;
        }
        
        li:nth-child(1) {
            @include design.getElevation(100);
        }

        li:nth-child(2) {
            @include design.getElevation(200);
        }

        li:nth-child(3) {
            @include design.getElevation(300);
        }

        li:nth-child(4) {
            @include design.getElevation(400);
        }
        
        li:nth-child(5 ) {
            @include design.getElevation(500);
        }

    }

    ul.radius {

        li {
            background:design.getColour();
            color:#fff;
        }

        li:nth-child(1) {
            @include design.getRadius();
        }

        li:nth-child(2) {
            @include design.getRadius($position:'top');
        }

        li:nth-child(3) {
            @include design.getRadius($position:'right');
        }

        li:nth-child(4) {
            @include design.getRadius($position:'bottom');
        }

        li:nth-child(5) {
            @include design.getRadius($position:'left');
        } 

        li:nth-child(6) {
            @include design.getRadius($position:'topLeft');
        }

        li:nth-child(7) {
            @include design.getRadius($position:'topRight');
        }

        li:nth-child(8) {
            @include design.getRadius($position:'bottomRight');
        }

        li:nth-child(9) {
            @include design.getRadius($position:'bottomLeft');
        }

    }

    ul.spacing {

        span {
            background:design.getColour('alert',$shade:200);
            display:block;
            margin:1rem auto 1rem auto;
        }

        li {
            text-align:center;
        }

        li:nth-child(1) {
            span {
                width:design.getSpacing($size:'xs');
                height:design.getSpacing($size:'xs');
            }
        }

        li:nth-child(2) {
            span {
                width:design.getSpacing();
                height:design.getSpacing();
            }
        }

        li:nth-child(3) {
            span {
                width:design.getSpacing($size:'m');
                height:design.getSpacing($size:'m');
            }
        }

        li:nth-child(4) {
            span {
                width:design.getSpacing($size:'l');
                height:design.getSpacing($size:'l');
            }
        }

        li:nth-child(5) {
            span {
                width:design.getSpacing($size:'xl');
                height:design.getSpacing($size:'xl');
            }
        }

        li:nth-child(6) {
            span {
                width:design.getSpacing($size:'xxl');
                height:design.getSpacing($size:'xxl');
            }
        }

        li:nth-child(7) {
            span {
                width:design.getSpacing($size:'xxxl');
                height:design.getSpacing($size:'xxxl');
            }
        }

    }

    ul[class^='seperator'] {
        li {
            border-radius:0;
            margin-right:3rem;
        }
    }

    .seperator--light-100 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'light',$weight:100,$position:'horizontal');
        }
    }

    .seperator--light-200 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'light',$weight:200,$position:'horizontal');
        }
    }

    .seperator--light-300 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'light',$weight:'light',$position:'horizontal');
        }
    }

    .seperator--light-400 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'light',$weight:'normal',$position:'horizontal');
        }
    }

    .seperator--medium-100 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'medium',$weight:100,$position:'horizontal');
        }
    }

    .seperator--medium-200 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'medium',$weight:200,$position:'horizontal');
        }
    }

    .seperator--medium-300 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'medium',$weight:'light',$position:'horizontal');
        }
    }

    .seperator--medium-400 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'medium',$weight:'normal',$position:'horizontal');
        }
    }

    .seperator--strong-100 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'strong',$weight:100,$position:'horizontal');
        }
    }

    .seperator--strong-200 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'strong',$weight:200,$position:'horizontal');
        }
    }

    .seperator--strong-300 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'strong',$weight:'light',$position:'horizontal');
        }
    }

    .seperator--strong-400 {
        li:nth-child(1) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'topLeft');
        }
        li:nth-child(2) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'topRight');
        }
        li:nth-child(3) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'bottomRight');
        }
        li:nth-child(4) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'bottomLeft');
        }
        li:nth-child(5) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'top');
        }
        li:nth-child(6) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'right');
        }
        li:nth-child(7) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'bottom');
        }
        li:nth-child(8) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'left');
        }
        li:nth-child(9) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'vertical');
        }
        li:nth-child(10) {
            @include design.getSeperator($strength:'strong',$weight:'normal',$position:'horizontal');
        }
    }

}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 24px;
}

.example-grid {
    height:200px;
    > div {
        background:design.getColour('alert',$shade:100);
    }
}

